body {
  margin: 40px;
  font-family: "Sans-serif";
  background-color: #181919;
}

h1, p {
    text-align: center;
    color: white;
}

.undo-button {
    text-align: center;
    color: #e8aa5a;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #47bc93;
    padding: 7px;
}

.container {
    margin: auto;
  width: 230px;
}

.game-grid {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px;
  grid-gap: 5px;
  background-color: #181919;
  color: #444;
  margin-left: 20px;
}

.game-grid div {
  background-color: #949596;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  font-size: 80%;
}

.number-buttons {
  display: grid;
  grid-template-columns: 39px 39px 39px 39px 39px;
  grid-gap: 5px;
  background-color: #47bc93;
  font-weight: bold;
  color: #444;
  margin-top: 20px;
  padding-left: 5px;
}

.number-button-item {
  color: #fff;
  border-radius: 5px;
  padding: 15px;
}

.op-buttons {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px;
  grid-gap: 5px;
  background-color: #e8aa5a;
  font-weight: bold;
  color: #444;
  margin-top: 20px;
  padding-left: 25px;
}

.op-button-item {
  color: #fff;
  border-radius: 5px;
  padding: 15px;
}

#gameclickable {
    cursor:pointer;
    background-color: #444;
}

#clickable {
    cursor:pointer;
}

#clicked {
    cursor:pointer;
    color: #181919;
}

#emptygrid {
  background-color: #181919;
}
